.estado-actualizado {
    background-color: green;
    color: white;
}

.estado-pendiente {
    background-color: yellow;
    color: black;
}

.estado-fallido {
    background-color: red;
    color: white;
}

#filialContainer {
    display: grid; 
    grid-template-columns: repeat(20, 1fr); 
    gap: 2px; 
}

/* .custom-button {
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    text-align: center;  
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 14px; 
    overflow: hidden;
    white-space: nowrap;
    color: white; 
    border: none;  
    cursor: pointer;
}

.custom-button:hover {
    transform: scale(1.1);
  } */

.custom-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column; /* Organiza el contenido en columnas */
    align-items: center;
    justify-content: center;
    font-size: 14px;
    overflow: hidden;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #4CAF50; /* Color de fondo */
    transition: transform 0.2s ease; /* Animaciones suaves */
    padding-top: 16px;
}

.custom-button:hover {
    transform: scale(1.1); /* Agranda ligeramente al pasar el mouse */
}

.custom-button .button-name {
    font-size: 16px; /* Tamaño de fuente más pequeño para el nombre */
    font-weight: bold;
    white-space: nowrap; /* Evita el salto de línea */
    text-overflow: ellipsis; /* Corta el texto si es demasiado largo */
    overflow: hidden; /* Esconde el texto que no cabe */
}

.custom-button .button-hosts {
    font-size: 13px; /* Tamaño más pequeño para el número */
    opacity: 0.8; /* Menor prominencia visual */
    /*margin-top: 0.1px; Espacio entre nombre y número */
    color: black
}
