.estadisticos-container {
  display: flex;
  flex-direction: column; /* Dispone las cards en columna */
  gap: 20px; /* Espacio entre las cards */
  padding: 20px;
  flex-grow: 1;
}

.estadistico {
  width: 100%; /* Hace que cada card ocupe todo el ancho del contenedor */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: left;
  align-items: center;
}

.estadistico-header {
  display: flex;
  align-items: center;       /* Alinea verticalmente el h2 y los contadores */
  /*justify-content: space-between; */
  margin-bottom: 1em;        /* Separación debajo de la cabecera */
}

.header-title{
  width: 300px;
}

.header-counters {
  flex: 1; /* Ocupa el espacio restante */
  display: flex;
  justify-content: space-between; /* Distribuye los contadores a lo largo de todo el espacio disponible */
}

.estadistico:hover {
  transform: translateY(-5px); /* Efecto de levantar la estadistico al pasar el mouse */
}

.estadistico--1 {
  background: #c7c7ff;
}

.titulo-1{
 /* color: rgba(149, 149, 255, 1);*/
  color: rgb(81, 81, 250);
  font-size: 4em;
}

#contador-agregados {
  flex: 1;   /* Ocupar todo el espacio restante a la derecha del h2 */
  display: flex;
}

.estadistico--2 {
  background: #ffd8be;
}

.titulo-2{
  color: rgb(252, 140, 28);
  font-size: 4em;
}

#contador-retirados {
  flex: 1;   /* Ocupar todo el espacio restante a la derecha del h2 */
  display: flex;
}

.estadistico--3 {
  background: #f3bbe1;
}

.titulo-3 {
  color: rgb(241, 51, 188);
  font-size: 4em;
}

#contador-reemplazos {
  flex: 1;   /* Ocupar todo el espacio restante a la derecha del h2 */
  display: flex;
}

@media (max-width: 768px) {
  .estadistico {
    flex: 1 1 calc(50% - 20px); /* Dos estadisticos por fila en pantallas medianas */
  }
}

@media (max-width: 480px) {
    .estadistico {
      flex: 1 1 100%; /* Una estadistico por fila en pantallas pequeñas */
    }
  }

/* Estilos para la tabla generada */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  max-height: 300px; /* Aproximadamente para 7 filas, ajustar según tus estilos */
  overflow-y: auto;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.data-table th {
  background-color: #f2f2f2;
  color: #333;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tr:hover {
  background-color: #ddd;
}

.table-container-estadisticos {
  max-height: 400px; /* Ajustá según la altura deseada para 10 filas */
  overflow-y: auto;
}

/*.contador-hoy {
  font-size: 1em;           /* Tamaño normal para la palabra "Hoy:" */
/*  color: rgb(0, 0, 0);             /* Color blanco para todo el contenido */
/*  margin-top: 5px;
  text-align: center;
}

/*.contador-numero {
  font-size: 4em;           /* Número en grande */
/*  font-weight: bold;
  color: rgb(255, 255, 255);
}*/

.contador-container {
  display: flex;
  justify-content: space-between; /* Separa los items: primero a la izquierda, segundo centrado, tercero a la derecha */
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
  gap: 1em;
  width: 100%;
}

.contador-item {
  flex: 1;
  text-align: center;
}

.contador-label {
  font-size: 2em;
  color: #333;
  margin-bottom: 5px;
}

.contador-numero {
  font-size: 4em;
  font-weight: bold;
  color: #000;
}

.contador-item:not(:last-child) {
  border-right: 1px solid #333;
  padding-right: 1em;       /* Asegura que el texto no quede pegado a la línea */
}



/* Estilos para el gráfico */
.chart-container {
  width: 100%;
  max-width: 1200px; /* Ajusta según necesites */
  margin: 20px auto;
}


#chartSummary {
  max-width: 1000px; /* Ajusta el ancho deseado */
  height: 600px;    /* Ajusta la altura deseada */
  margin: 0 auto;   /* Centrar el gráfico */
}
