.estadisticos-container {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre las cards */
    align-items: flex-start; /* Alinea las cards en la parte superior */
    gap: 20px; /* Espacio entre las cards */
    padding: 20px;
  }
  
  .estadistico {
    flex: 1 1 calc(33.333% - 40px); /* Ajusta el tamaño de las estadisticos */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center; /* Centra el texto dentro de la card */
  }
  
  .estadistico:hover {
    transform: translateY(-5px); /* Efecto de levantar la estadistico al pasar el mouse */
  }

  .estadistico::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .estadistico::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
  
  @media (max-width: 768px) {
    .estadistico {
      flex: 1 1 calc(50% - 20px); /* Dos estadisticos por fila en pantallas medianas */
    }
  }
  
  @media (max-width: 480px) {
    .estadistico {
      flex: 1 1 100%; /* Una estadistico por fila en pantallas pequeñas */
    }
  }