/* Reset básico */
body, h1, h2, h3, p, div, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: #f4f4f9;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Estilos para el navbar */
.navbar {
  width: 100px; /* Ancho inicial reducido */
  height: 100vh; /* Hace que la barra lateral cubra toda la altura de la pantalla */
  background-color: #837c7c;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  transition: width 0.3s ease;
  overflow: hidden; /* Oculta el contenido cuando está en su tamaño reducido */
  position: fixed; /* Fija la barra lateral */
  top: 0; /* Fija la barra al inicio de la página */
  left: 0; /* Fija la barra al lado izquierdo */
}

.navbar:hover {
  width: 170px; /* Ancho expandido aumentado al pasar el mouse */
}


.navbar-header {
  margin-bottom: 20px;
  cursor: pointer;
}

.menu-icon {
  font-size: 24px; /* Tamaño aumentado para mejor visibilidad */
  margin-bottom: 20px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10px; /* Añade padding para espaciar mejor */
}

.navbar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 15px; /* Espacio entre los elementos */
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, width 0.3s;
  width: 100%;
  justify-content: center; /* Centra los íconos al estar colapsado */
  overflow: hidden;
}

.navbar:hover .navbar-link {
  justify-content: flex-start; /* Al expandirse, alinea el texto a la izquierda */
}

.navbar-link:hover {
  background-color: #f35309;
  transform: translateX(10px);
}

.navbar-link img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transition: margin-right 0.3s ease;
}

.link-text {
  opacity: 0; /* Oculta el texto inicialmente */
  white-space: nowrap;
  transition: opacity 0.3s ease, margin-left 0.3s ease;
  margin-left: -70px; /* Inicialmente fuera de vista */
}

.navbar:hover .link-text {
  opacity: 1; /* Muestra el texto al pasar el mouse */
  margin-left: 10px; /* Texto al lado del ícono cuando el navbar está expandido */
}

.navbar:hover .navbar-link img {
  margin-right: 10px; /* Agrega margen derecho a los íconos cuando el navbar está expandido */
}

.submenu {
  display: none; /* Oculto por defecto */
  flex-direction: column;
  margin-left: 30px; /* Mueve el submenu hacia la derecha */
}

.submenu-link {
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submenu-link img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transition: margin-right 0.3s ease;
}

.submenu-link:hover {
  background-color: #f35309; /* Cambia el color de fondo al pasar el mouse */
}

/* Mostrar el submenu cuando se haga hover sobre "Terminales" */
.navbar-link:hover + .submenu {
  display: flex;
}

.navbar-item:hover .submenu {
  display: flex;
}

/* Estilos para el contenido principal */
.main-content {
  flex-grow: 1;
  padding: 20px;
}

/* header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
} */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative; /* Necesario para posicionar el breadcrumb */
}

.breadcrumb {
  position: absolute;
  left: 20px;
  font-size: 18px;
  color: #555;
  background-color: rgba(240, 240, 240, 0.7);  /* Fondo gris suave */
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);  /* Sombra interna suave para dar profundidad */
}


.breadcrumb a {
  color: #555;
  text-decoration: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.breadcrumb a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* --------------------------------------- */

.button-container {
  position: absolute;
  right: 20px;
}

.button-container-upd{
  position: absolute;
  right: 20px;
  display: none;  /* AGREGNAOD PARA QUE NO SE VEA DESDE EL PRINCIPIO */
}


#action-button, #action-upd-filial {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #263ec5;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#action-button:hover, #action-upd-filial:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

/* --------------------------------------- */

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


button:hover {
  background-color: #0056b3;
}

/* .status-section {
  position: relative;
  padding: 20px;
  width: 100%;
  text-align: center;
}
 */


.main-content {
  margin-left: 100px;
  transition: margin-left 0.3s ease;
}

.navbar:hover + .main-content {
  margin-left: 170px; /* Ajusta el margen cuando la barra lateral se expande */
}
 
/* ----------------------------------------------------- */

/* Ajustes para los círculos interactivos */
.circle, .circle-filial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer; /* Añadimos la propiedad de cursor de botón */
  transition: transform 0.3s ease; /* Añadimos una transición suave */
}

/* Hover para círculos */
.circle:hover, .circle-filial:hover {
  transform: scale(1.1); /* Aumenta el tamaño del círculo al pasar el ratón */
}

/* Contenedor principal de las cards */
.main-skills {
  display: flex;
  justify-content: space-around; /* Espacio equitativo entre tarjetas */
  flex-direction: row; /* Asegura que las tarjetas estén alineadas en fila */
  margin-top: 20px;
}

/* Contenedor de las cards individuales */
.card {
  display: flex;
  flex-direction: column; /* Mantener el contenido de la card en columna */
  align-items: center;
  justify-content: space-between;
  width: 30%; /* Ajusta el ancho para espaciar las tarjetas */
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Contenedor exclusivo para los círculos */
.card .circles-container {
  display: flex; /* Los círculos estarán en fila (horizontal) */
  flex-direction: row;
  gap: 45px; /* Ajusta este valor para controlar la separación entre círculos */
  margin-top: 10px; /* Espaciado con respecto al contenido superior */
}
/* Estilo para la línea vertical entre los círculos */
.line-vertical {
  width: 1px; /* Ancho de la línea */
  background-color: black; /* Color de la línea */
  height: 50px; /* La altura será el 100% del contenedor de los círculos */

}

/* Otros estilos como el contenido del card y su texto */
.card-content {
  flex-grow: 1;
  text-align: center;
}

/* Colores específicos para cada círculo */
.main-skills .card:nth-child(1) .circle,
.main-skills .card:nth-child(1) .circle-filial {
  background-color: #28a745; /* Verde para "Actualizadas" */
}

.main-skills .card:nth-child(2) .circle,
.main-skills .card:nth-child(2) .circle-filial {
  background-color: #ffc107; /* Amarillo para "Pendientes" */
}

.main-skills .card:nth-child(3) .circle,
.main-skills .card:nth-child(3) .circle-filial {
  background-color: #dc3545; /* Rojo para "Fallidas" */
}

/* ----------------------------------------------------- */


#workstationsTable td, #workstationsTable th {
  padding: 12px;
  border: 1px solid #ddd;
}

.custom-button {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados */
}

.custom-button:hover {
  background-color: rgb(77, 107, 197); /* Cambiar el color al pasar el mouse */
}



/* ---------------- */

.status {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out; /* Transición suave */
}


.bg-green {
  background-color: #d4edda; /* Verde claro */
  color: #155724; /* Verde oscuro para el texto */
  padding:10px 8px;
  border-radius: 10px;
  display: inline-block;
  width: calc(100% - 8px); /* Deja un margen lateral */
  height: calc(100% - 8px);
}

.bg-yellow {
  background-color: #fff3cd; /* Amarillo claro */
  color: #856404; /* Amarillo oscuro para el texto */
  padding:10px 8px;
  border-radius: 10px;
  display: inline-block;
  width: calc(100% - 8px); /* Deja un margen lateral */
  height: calc(100% - 8px);
}

.bg-red {
  background-color: #f8d7da; /* Rojo claro */
  color: #721c24; /* Rojo oscuro para el texto */
  padding:10px 8px;
  border-radius: 10px;
  display: inline-block;
  width: calc(100% - 8px); /* Deja un margen lateral */
  height: calc(100% - 8px);
}



.line {
  border: none;
  border-top: 5px solid #5c5555;  /* Línea gruesa de 5px */
  margin: 20px 0;  /* Margen para separar los divs */
  width: 60%;  /* Ajusta el ancho de la línea */
  margin-left: auto; /* Centra la línea */
  margin-right: auto; /* Centra la línea */
}



.welcome-container {
  position: absolute;
  right: 20px;
}

.welcome-container h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
}


#workstationsTable {
  margin-top: 80px;
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#workstationsTable th, #workstationsTable td {
  padding: 12px;
  border: none; 
}
#workstationsTable thead tr {
  background-color: #e0e0e0;
}
#workstationsTable tbody tr {
  border-bottom: 1px solid #ddd; 
}
#workstationsTable tbody tr:last-child {
  border-bottom: none;
}

#filialTable{
  margin-top: 50px;
}


.linefilial {
  border: none;
  border-top: 5px solid #5c5555;  /* Línea gruesa de 5px */
  margin: 20px 0;  /* Margen para separar los divs */
  width: 30%;  /* Ajusta el ancho de la línea */
  margin-left: auto; /* Centra la línea */
  margin-right: auto; /* Centra la línea */
}



/* ------------ */

.barra-navegacion{
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 30px;
}

.barra-navegacion button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #800020; /* Bordó clásico */
  color: #ffffff; /* Texto blanco */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Agregar una transición suave */
}

.barra-navegacion button:hover {
  background-color: #a52a2a; /* Bordó más claro al hacer hover */
  transform: scale(1.1); /* Agrandar ligeramente el botón al hacer hover */
}

.barra-navegacion button.pagina-actual {
  background-color: #005f38; /* Verde oscuro para la página actual */
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px; /* Aseguramos que tenga el mismo padding que los otros botones */
}

.barra-navegacion button.pagina-actual:hover {
  background-color: #00402f; /* Verde más oscuro cuando se hace hover sobre el botón actual */
}



/* -------------------- */


/* Contenedor principal del div */
.stats-container {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente si es necesario */
  gap: 10px; /* Espacio uniforme entre los elementos */
  /* padding: 10px; */
  background-color: #f4f4f4; /* Fondo claro para el contenedor */
  border-radius: 8px;
  /* margin: 20px 0; */
  /* margin-top: 80px; */
  
}


/* Estilo común para cada estadística */
.stat {
  padding: 15px 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  flex: 0; /* No ocupa todo el espacio restante */
  white-space: nowrap; /* Mantiene todo en una línea */
  margin-top: 60px;
}

/* Colores específicos */
.total {
  background-color: #cce5ff; /* Azul claro */
  color: #004085; /* Azul oscuro para el texto */
}
.actualizadas {
  background-color: #d4edda; /* Verde claro */
  color: #155724; /* Verde oscuro para el texto */
}
.pendientes {
  background-color: #fff3cd; /* Amarillo claro */
  color: #856404; /* Amarillo oscuro para el texto */
}
.fallidos {
  background-color: #f8d7da; /* Rojo claro */
  color: #721c24; /* Rojo oscuro para el texto */
}


/* ------- */


.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-buttons {
  display: flex;
  justify-content: center;
  gap: 40px; /* Más separación horizontal entre los botones */
  margin-top: 20px; /* Espaciado entre el texto y los botones */
}

.dialog.hidden {
  display: none;
}

.dialog-buttons #confirm-accept {
  background-color: #4caf50;
  color: white;
}

.dialog-buttons #confirm-accept:hover {
  background-color: #45a049;
}

.dialog-buttons #confirm-cancel {
  background-color: #f44336;
  color: white;
}

.dialog-buttons #confirm-cancel:hover {
  background-color: #e53935;
}
